---
import BaseLayout from '../../layouts/BaseLayout.astro';
let articles = await Astro.fetchContent("./*.md");
articles = articles.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
---

<BaseLayout title="Blog" name="Blog">
  <style>
   .blog-title {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
   } 

   .blog-title:hover {
    text-decoration: underline;
   }

   .blog-date {
    color: #b3ced7;
    font-size: 0.9rem;
    margin: 0;
   }
  </style>
  <div>
    {articles.map((post) => (
      <article>
        <a href={post.url} class="blog-title"> {post.title}</a>
        <p class="blog-date"> {post.date}</p>
        <p> {post.description}</p>
      </article>
      <br />
    ))}
  </div>
</BaseLayout>
