---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<style>
  .heading {
    text-decoration: underline;
    text-decoration-color: #cccccc;
    text-decoration-thickness: 2px;
    font-size: 1.5rem;
  }

  .bio-list {
    list-style: none;
    padding-left: 0;
    font-size: 1rem;
  }

  img {
    border-radius: 100%;
    width: 300px;
    height: 350px;
  }

  .flavor-section {
    display: grid;
    grid-template-rows: 400px auto;
    row-gap: 50px;
    justify-items: center;
    padding-bottom: 50px;
  }

  @media (min-width: 600px) {
    .flavor-section {
      display: grid;
      grid-template-columns: 300px auto;
      column-gap: 50px;
      align-items: center;
      padding-bottom: 25px;
    }
  }
</style>
<BaseLayout title="Home" name="Brennan Manning">
  <div class = "flavor-section">
      <img src="assets/cropped-portrait.jpeg" alt="Headshot"/>
      <p>
        Hi there. I'm Brennan Manning, a recent graduate from the
        University of Amsterdam where I got my Masters' in Econometrics with a
        specialization in Financial Econometrics. Right now I'm interested in learning about options
        and writing a python library to help with this. Outside of that, some of my hobbies are
        reading, programming, and learning. Right now, some of my projects are building this website
        and building a computing system with Emacs and Linux. I am also attempting to read Ulysses by James
        Joyce again. 
      </p>
  </div>

  <h3 class="heading">Bio</h3>
  <ul class="bio-list">
    <li>
      <b>1998</b>: Born in Baltimore, MD
    </li>
    <li>
      <b>2017</b>: Moved to Amsterdam, NL
    </li>
    <li>
      <b>2020</b>: Finished BSc. program in Econometrics
    </li>
    <li>
      <b>2021</b>: Finished MSc. program in Econometrics
    </li>
  </ul>
</BaseLayout>
