--- 
const { content } = Astro.props;
---

<html>
  <head>
    <title>
      { content.title } | Brennan Manning
    </title>
    <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/global.css')}/>
  </head>
  <body>
    <style>
      .nav-links {
        display: flex;
        list-style: none;
        padding-left: 0;
      }

      .nav-link-item {
        padding-right: 2rem;
      }

      .nav-link-text {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.2rem;
      }

      .nav-link-text:hover {
        text-decoration: underline;
      }

      .post-title {
        font-size: 3rem;
        font-weight: 500;
        margin: 2rem 0 0;
      }

      .img-link {
        margin-left: auto;
        margin-right: 0;
      }

      .blog-date {
        color: #b3ced7;
        margin: 0.5rem 0 0.5rem;
      }
    </style>
    <nav>
      <ul class="nav-links">
        <li class="nav-link-item">
          <a href="/" class="nav-link-text">Home</a>
        </li>
        <li class="nav-link-item">
          <a href="/blog" class="nav-link-text">Blog</a>
        </li>
        <li class="img-link">
          <a href="https://github.com/brennanmanning">
          <img src="/assets/GitHub-Mark-Light-32px.png" alt="GitHub"/>
          </a>
        </li>
      </ul>
    </nav>
    <h1 class="post-title"> 
      {content.title}
    </h1>
    <p class="blog-date">
      {content.date}
    </p>
    <slot />
  </body>
</html>
